# Visual Studio / Windows specific files
*.suo
*.user
*.userosscache
*.sln.docstates
bin/
obj/

# Build results
[Dd]ebug/
[Rr]elease/
x64/
build/
[Bb]in/

# NuGet Packages
*.nupkg
packages/

# Visual Studio project files
*.csproj
*.vbproj
*.vcxproj
*.vcproj
*.dbproj
*.fsproj
*.lsproj
*.wixproj
*.xproj
*.xaml.cs
*.xaml.vb

# Test Results
[Tt]est[Rr]esult*/
[Bb]uild[Ll]og.*

# Click-Once deployment
publish/

# Publish Web Output
*.Publish.xml
*.pubxml
*.pubxml.*

# Windows Azure Build Output
csx/
*.build.csdef

# Windows Store app package directory
AppPackages/

# Others
sql/
*.Cache
ClientBin/
[Ss]tyle[Cc]op.*
~$*
*.dbmdl
*.dbproj.schemaview
*.pfx
*.publishsettings
node_modules/
