################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/src/Common/CareOpti-Common/obj
/src/.vs/CareOpti-Backend
/.vs/CareOpti-Backend-Dotnet/v17
/.vs
/src/.vs
/src/Core/Application/CareOpti-Application/obj
/src/Core/Domain/CareOpti-Domain/obj
/src/Infrastructure/Persistance/CareOpti-Persistance/obj
/src/Infrastructure/Utility/CareOpti-Utility/obj
/src/Infrastructure/Identity/CareOpti-Identity/obj
/src/Web/API/CareOpti-API/obj
/src/Web/ApiFramework/CareOpti-ApiFramework/obj
/src/API/CareOpti.API/bin/Debug/net6.0
/src/API/CareOpti.API/obj
/src/Infrastructure/Persistance/CareOpti-Persistance/bin/Debug/net6.0
/src/Core/Application/CareOpti-Application/bin
/src/Core/Domain/CareOpti-Domain/bin
/src/Infrastructure/Identity/CareOpti-Identity/bin
/src/Infrastructure/Utility/CareOpti-Utility/bin

